
    footer{
        text-align: center;
        background-color: teal;
        padding: 50px;
    }
    #two{
        padding:40px;
    }
    #pato{
        background-color: red;
        color:snow;
    }